<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--规则 格式-->
<mapper namespace="com.example.dao.CourseDao">

  <select id="getAdmCrs" parameterType="String" resultType="course">
         SELECT * FROM course  where ( Cno=#{Cno}) 
    </select>
  
   <select id="getAdmCno" parameterType="String" resultType="String">
   		 SELECT Cno FROM course  where ( Cname=#{Cname}) 
   </select> 
</mapper>