<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--规则 格式-->
<mapper namespace="com.example.dao.CourseDao">

  <select id="getAdmCrs" parameterType="String" resultType="course">
         SELECT * FROM course  where ( Cno=#{Cno}) 
    </select>
  
   <select id="getAdmCno" parameterType="String" resultType="String">
   		 SELECT Cno FROM course  where ( Cname=#{Cname}) 
   </select> 
   
   <insert id="savecourse" parameterType="Course">
   INSERT 
    INTO Course(Cno,Cname,Cterm,Ccredit,Cdept)
    VALUES(#{Cno},#{Cname},#{Cterm},#{Ccredit},#{Cdept});
   </insert>
   
   <delete id="deletecourse" parameterType="String"> 
   DELETE
    FROM Course
    WHERE Cno=#{Cno};
   </delete>
   
   <update id="updatecname">
   UPDATE Course
        SET Cname=#{Cname}
        WHERE Cno=#{Cno};
   </update>
   
   <update id="updatecterm">
   UPDATE Course
        SET Cterm=#{Cterm}
        WHERE Cno=#{Cno};
   </update>
   
   <update id="updatecredit">
   UPDATE Course
        SET Ccredit=#{Ccredit}
        WHERE Cno=#{Cno};
   </update>
</mapper>