<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--规则 格式-->
<mapper namespace="com.example.dao.ProfessorDao">

 <select id="queryall"   resultType="professor">
         SELECT * FROM professor
    </select>

<update id="updatepdept" parameterType="String" >
     UPDATE professor
        SET Pdept=#{Pdept}
        WHERE ( Pno=#{Pno})
    </update>
    
    <update id="updateppos" parameterType="String" >
     UPDATE professor
        SET Ppos=#{Ppos}
        WHERE ( Pno=#{Pno})
    </update>

  <select id="getPrf" parameterType="String" resultType="professor">
         SELECT * FROM professor where ( Pno=#{Pno}) 
    </select>
  
   <insert id="savePrf"  parameterType="professor">
     INSERT 
        INTO professor (Pno,Pname,Pdept,Ppos,Pinfo)
        VALUES(#{pno},#{pname},#{pdept},#{ppos},#{pinfo});
    </insert>
    
    <select id="getPno" parameterType="String"  resultType="String">
    	  SELECT Pno FROM professor where ( Pname=#{Pname}) 
    </select>
    
    <delete id="deletePrf" parameterType="String">
     DELETE 
        FROM Professor 
        WHERE Pno=#{Pno};
    </delete>
</mapper>