<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--规则 格式-->
<mapper namespace="com.example.dao.ReviewDao">

  <select id="queryall"   resultType="reviewfront">
        SELECT id_review,Snickname,Cname,Pname,Revt,Comment,difficulty,quality,upvote,downvote
        FROM review,student,course,professor
        WHERE student.Sno=review.Sno AND course.Cno=review.Cno AND professor.Pno=review.Pno;
    </select>
  
  <insert id="saveRev" parameterType="review" >
  		INSERT INTO review (Cno,Pno,Sno,Revt,Comment,difficulty,quality,state,upvote,downvote)VALUES (#{cno},#{pno},#{sno},sysdate(),#{comment},#{difficulty},#{quality},#{state},#{upvote},#{downvote})
  </insert>
  
  <update id="upvote" parameterType="int" >
  
  		UPDATE review SET upvote=upvote+1 WHERE id_review=(#{id_review})
  </update>
  
  <update id="downvote" parameterType = "int" >
  		UPDATE review SET downvote=downvote+1 WHERE id_review=(#{id_review})
  
  </update>

    <select id="queryByStu" parameterType="String" resultType="reviewfront">
        SELECT id_review,Snickname,Cname,Pname,Revt,Comment,difficulty,quality,upvote,downvote
        FROM review,student,course,professor
        WHERE student.Sno=review.Sno AND course.Cno=review.Cno AND professor.Pno=review.Pno AND review.Sno = (#{sno});
    </select>

    <select id="getRev" parameterType="int" resultType="review">
        SELECT * FROM review where (id_review = #{id_review})
    </select>

    <update id="modState" parameterType="int">
        UPDATE review set state=(#{n}) WHERE id_review=(#{id_review})
    </update>
    
</mapper>