<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--规则 格式-->
<mapper namespace="com.example.dao.StudentDao">

 <select id="queryall"   resultType="student">
         SELECT * FROM student
    </select>

  <select id="getStu" parameterType="String" resultType="student">
         SELECT * FROM student where ( Sno=#{Sno})
    </select>
  
    <update id="updatesnickname" parameterType="String" >
     UPDATE Student
        SET Snickname=#{Snickname}
        WHERE ( Sno=#{Sno})
    </update>
    
    <update id="updatestate"  >
     UPDATE Student
        SET Sstate=#{Sstate}
        WHERE ( Sno=#{Sno})
    </update>
    
     <update id="updatespw" parameterType="String" >
     UPDATE Student
        SET Spw=#{Spw}
        WHERE ( Sno=#{Sno})
    </update>
    
    <insert id="saveStu"  parameterType="student">
     INSERT 
        INTO Student(Sno,Sname,Snickname,Spw,Syear,Sgender,Smail,Svalid,Sstate)
        VALUES(#{sno},#{sname},#{snickname},#{spw},#{syear},#{sgender},#{smail},#{svalid},#{sstate});
    </insert>
    
    <delete id="deleteStu" parameterType="String">
     DELETE 
        FROM Student 
        WHERE Sno=#{Sno};
    </delete>
</mapper>