.switch1 {
	position: absolute;
	left: 30%;
	top: 17%;
	color: #000000;
	font-size: 15px;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
}

.switch1:focus {
	width: 240px;
	border-color: #2ecc71;
}

.switch2 {
	position: absolute;
	left: 30%;
	top: 30%;
	color: #000000;
	font-size: 15px;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
}

.switch2:focus {
	width: 240px;
	border-color: #2ecc71;
}

.switch3 {
	position: absolute;
	left: 30%;
	top: 43%;
	color: #000000;
	font-size: 15px;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
}

.switch3:focus {
	width: 240px;
	border-color: #2ecc71;
}

.switch4 {
	position: absolute;
	left: 30%;
	top: 56%;
	color: #000000;
	font-size: 15px;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
}

.switch4:focus {
	width: 240px;
	border-color: #2ecc71;
}

.switch5 {
	position: absolute;
	left: 30%;
	top: 69%;
	color: #000000;
	font-size: 15px;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
}

.switch5:focus {
	width: 240px;
	border-color: #2ecc71;
}
.honey {
	position: absolute;
	left: 40%;
	top: 5%;
	color: #000000;
	font-size:20px;
}

.h1 {
	position: absolute;
	left: 43%;
	top: 5%;
	color: #000000;
	font-size: 20px;
}
.h5 {
	position: absolute;
	left: 24%;
	top: 13%;
	color: #ff0000;
	font-size: 15px;
}
.h51 {
	position: absolute;
	left: 21%;
	top: 13%;
	color: #ff0000;
	font-size: 15px;
}
.h2 {
	position: absolute;
	left: 25%;
	top: 20%;
	color: #000000;
	font-size: 15px;
}
.h3 {
	position: absolute;
	left: 30%;
	top: 45%;
	color: #000000;
	font-size: 20px;
}
.h4 {
	position: absolute;
	left: 25%;
	top: 66%;
	color: #000000;
	font-size: 20px;
}
.h4:hover{
	cursor: pointer;
}
.h7 {
	position: absolute;
	left: 85%;
	top: 0%;
	color: white;
	font-size: 20px;
}

.date1 {
	position: absolute;
	left: 37%;
	top: 58%;
	color: #000000;
	font-size: 15px;
}

.date2 {
	position: absolute;
	left: 37%;
	top: 75%;
	color: #000000;
	font-size: 15px;
}

.submit1 {
	position: absolute;
	left: 43%;
	top: 75%;
	color: #000000;
	font-size: 15px;
	height: 40px;
	border-radius: 10px;
}
.submit1:hover{
	cursor: pointer;
	}
.submit2 {
	position: absolute;
	left: 42%;
	top: 88%;
	color: #000000;
	font-size: 15px;
	height: 40px;
	border-radius: 10px;
}

.text1 {
	position: absolute;
	left: 25%;
	top: 30%;
	color: #000000;
	font-size: 20px;
	width: 400px;
	height: 50px;
}

.text2 {
	position: absolute;
	left: 25%;
	top: 30%;
	color: #000000;
	font-size: 20px;
	width: 400px;
	height: 50px;
}

.text3 {
	position: absolute;
	left: 25%;
	top: 30%;
	color: #000000;
	font-size: 20px;
	width: 400px;
	height: 50px;
}

.zhezhao {
	position: fixed;
	left: 0px;
	top: 0px;
	background: #495464;
	width: 100%;
	height: 100%;
	/* opacity: 0.5; 这里面让弹窗全部都变成半透明，不是很好看*/
	background: rgba(0, 0, 0, 0.5);
}

.tankuang {
	position: relative;
	background: #ffffff;
	width: 40%;
	height: 50%;
	border-radius: 5px;
	margin: 5% auto;
}

.zhezhao1 {
	/* 这里是增加用户的弹窗 */
	position: fixed;
	left: 0px;
	top: 0px;
	background: #495464;
	width: 100%;
	height: 100%;
	/* opacity: 0.5; 这里面让弹窗全部都变成半透明，不是很好看*/
	background: rgba(0, 0, 0, 0.5);
}

.tankuang1 {
	position: relative;
	background: #ffffff;
	width: 35%;
	height: 75%;
	border-radius: 5px;
	margin: 5% auto;
}

.zhezhao3 {
	/* 这里是增加用户的弹窗 */
	position: fixed;
	left: 0px;
	top: 0px;
	background: #495464;
	width: 100%;
	height: 100%;
	/* opacity: 0.5; 这里面让弹窗全部都变成半透明，不是很好看*/
	background: rgba(0, 0, 0, 0.5);
}

.tankuang3 {
	position: relative;
	background: #ffffff;
	width: 35%;
	height: 75%;
	border-radius: 5px;
	margin: 5% auto;
}
#header {
	height: 40px;
}

#header-right {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: red;
	color: #fff;
	right: 5px;
	top: 5px;
	text-align: center;
}

#header-right:hover {
	cursor: pointer;
}
.wtt {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: red;
	color: #fff;
	right: 5px;
	top: 5px;
	text-align: center;
}

.wtt:hover {
	cursor: pointer;
}