/* css鏂囦欢娉ㄩ噴鐨勫揩鎹烽敭鏄痗trl+/ */
body{
	background: #f4f4f2;
	margin: 0;
}

.table1{
	/* 杩欐槸涓汉鍩烘湰淇℃伅鐨勮〃鏍肩殑鏍煎紡 */
	text-align:center;
	border-width: 5px;
	float: left;
	margin-left: 30px;
	margin-top: 110px; 
	width:250px;
	height:300px;
	border-collapse:collapse;
}
.sweet{
	 color: white;
	 text-align:center;
	 border-width: 0px;
	 background-color: #495464;
}
/* .td1{
	 align:center;
	 border-radius: 2px;
	 border-width: 0px;
	 background-color: #e8e8e8;
} */
.td2{
	align:right;/* 
	margin-left: 10px; */
	border-width: 0px;
	background-color: #e8e8e8;
}
.td3{
	align:left;/* 
	margin-left: 10px; */
	border-radius: 2px;
	background-color: #e8e8e8;
}
.middle_T{ 		
/* 	杩欐槸璇勪环琛ㄥ崟鐨勬牸寮� */
			  padding: 10px 10px;
			  border-style: none;
			  border-color: #fab1a0;
			  border-width: 1px;
			  width: 500px;
			  height:60px;
			  font-size: 20px;
			  color: #191919;
			  }
.Cscore{
			   float:left;
			   width:200px;
			   height:150px;
			   margin-left: 30px;
			   margin-top: 10px;
			  }
.Comment{
			   float:left;
			   width:400px;
			   height:150px;
			   margin-left: 10px;
			   margin-top:10px;
			   padding:5px;
			   font-size:18px;
			  }
.pic{
			    font-size:20px;
			    margin-right:20px;
			    float:right;
			    }
			    .pic1{
			    font-size:20px;
			    margin-right:20px;
			    float:right;
			    }
.pic1:hover{
	  color: #ec524b;
  }
.infoC{
					border: solid;
				}
.search-box{
	position: absolute;
	top:50px;
	left:50%;
	transform:translate(-50%,-50%);
	background: #495464;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
.search-box:hover > .search-txt{
	width:600px;
	padding: 0 6px;
}
.search-box:hover > .search-btn{
	background: white;
}
.search-btn{
	color: #411F1A;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #495464;
	display: flex;
	justify-content: center;
	align-items:center;
	transition: 0.4s;
}
.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition:0.4s;
	line-height: 40px;
	width: 0px;
}				

/* 娉℃场 */
/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* 娉℃场 */
button{
    position: relative;
    height: 50px;
    width: 200px;
    margin: 0 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #495464;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

/* 鍒犻櫎璇勪环鐨勫浘鏍囦负浠�涔堟樉绀轰笉鍑烘潵銆傘��
buttons1{
    position: relative;
    height: 25px;
    width: 100px;
   /* margin: 0 35px; 
    border-radius: 50px;
    border: none;
    outline: none;
    background: #78e08f;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
} */

button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}


button:last-child:hover{
    background: linear-gradient(90deg, #03a9f4, #f5ce62, #e43603, #fa7199);
    background-size: 400%;
}

button:first-child:before,
button:last-child:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right:-5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

button:first-child:hover:before,
button:last-child:hover:before{
    opacity: 1;
    z-index: -1;
}

button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.switch{
 border: 0;
 background:none;
 display: block;
 margin: 20px auto;
 text-align:center;
 border:2px solid #3498db;
 padding: 14px 10px;
 width: 200px;
 outline: none;
 color: white;
 border-radius: 24px;
 transition: 0.25s;
}
.switch:focus{
	width:280px;
	border-color: #2ecc71;
	}

